In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings 
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_csv('Match.csv')
df.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [3]:
df.describe()

,match_id,inning,over,ball,is_super_over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs
count,69761.000000,69761.000000,69761.000000,69761.000000,69761.000000,69761.000000,69761.000000,69761.000000,69761.000000,69761.000000,69761.000000,69761.000000,69761.000000
mean,148.317570,1.480555,10.099354,3.624145,0.000473,0.039893,0.005591,0.022806,0.005046,0.000072,1.211479,0.073408,1.284887
std,84.899858,0.501487,5.666241,1.813831,0.021745,0.268148,0.120195,0.202363,0.079619,0.018931,1.590157,0.361633,1.579107
min,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,75.000000,1.000000,5.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,150.000000,1.000000,10.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
75%,221.000000,2.000000,15.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
max,295.000000,4.000000,20.000000,9.000000,1.000000,5.000000,4.000000,5.000000,5.000000,5.000000,6.000000,5.000000,7.000000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69761 entries, 0 to 69760
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   match_id          69761 non-null  int64
 1   inning            69761 non-null  int64
 2   batting_team      69761 non-null  object
 3   bowling_team      69761 non-null  object
 4   over              69761 non-null  int64
 5   ball              69761 non-null  int64
 6   batsman           69761 non-null  object
 7   non_striker       69761 non-null  object
 8   bowler            69761 non-null  object
 9   is_super_over     69761 non-null  int64
 10  wide_runs         69761 non-null  int64
 11  bye_runs          69761 non-null  int64
 12  legbye_runs       69761 non-null  int64
 13  noball_runs       69761 non-null  int64
 14  penalty_runs      69761 non-null  int64
 15  batsman_runs      69761 non-null  int64
 16  extra_runs        69761 non-null  int64
 17  total_runs        69761 non-null  int64
 18  player_dismissed  3516 non-null   object
 19  dismissal_kind    3516 non-null   object
 20  fielder           2529 non-null   object
dtypes: int64(13), object(8)
memory usage: 11.2+ MB

### find total runs of batsman in this particular league---->overall batsman runs

In [5]:
df['batsman_runs'].sum()

84514

### find total number of wide runs

In [6]:
df['wide_runs'].sum()

2783

### find total runs of virat kolhi

In [7]:
df['batsman_runs'].loc[df['batsman']=='V Kohli'].sum()

1428

### calculate the total extra runs given by a particular bowler

In [8]:
df['extra_runs'].loc[df['bowler']=='TS Mills'].sum()

13

### find out the catches taken by mandeep singh

In [9]:
df['dismissal_kind'].value_counts()

caught               2029
bowled                650
run out               379
lbw                   223
stumped               121
caught and bowled     106
retired hurt            4
hit wicket              4
Name: dismissal_kind, dtype: int64

In [11]:
len(df.loc[(df['dismissal_kind']=='caught') & (df['fielder']=='Mandeep Singh')])

7

### how many times DA Warner was dismiised by A choudhary

In [12]:
len(df.loc[(df['player_dismissed']=='DA Warner') & (df['bowler']=='A Choudhary')])

1

### find number of stumpouts done by MS Dhoni.

In [19]:
len(df.loc[(df['dismissal_kind']=='stumped') & (df['fielder']=='MS Dhoni')])

17

### find the batsman stumped out by MS Dhoni

In [22]:
df['batsman'].loc[(df['dismissal_kind']=='stumped') & (df['fielder']=='MS Dhoni')].value_counts()

AT Rayudu         2
MD Mishra         2
BB McCullum       1
AB de Villiers    1
CJ Anderson       1
RV Uthappa        1
DA Warner         1
GC Smith          1
AS Raut           1
CH Gayle          1
DJ Hussey         1
WP Saha           1
MS Bisla          1
EJG Morgan        1
MK Tiwary         1
Name: batsman, dtype: int64

In [23]:
len(df['batsman'].loc[(df['dismissal_kind']=='stumped') & (df['fielder']=='MS Dhoni')].value_counts())

15

### find the total number of sixes hit by MS dhoni

In [33]:
len(df.loc[(df['batsman_runs']==6) & (df['batsman']=='MS Dhoni')])

62

### how many times S Dhawan out by lbw

In [34]:
df.loc[(df['player_dismissed']=='S Dhawan') & (df['dismissal_kind']=='lbw')]

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
31390,135,2,Mumbai Indians,Kings XI Punjab,5,1,S Dhawan,JP Duminy,YA Abdulla,0,...,0,0,0,0,0,0,0,S Dhawan,lbw,NaN
46812,199,1,Mumbai Indians,Deccan Chargers,4,3,S Dhawan,SR Tendulkar,Jaskaran Singh,0,...,0,0,0,0,0,0,0,S Dhawan,lbw,NaN

### find the total runs scored by MS Dhoni by hitting sixes

In [35]:
df['batsman_runs'].loc[(df['batsman']=='MS Dhoni') & (df['batsman_runs']==6)].sum()

372

### find the number of superover

In [36]:
len(df.loc[df['is_super_over']==1])

33

### find the total number of fours hit by virat kohli

In [37]:
len(df.loc[(df['batsman_runs']==4) & (df['batsman']=='V Kohli')])

131

### find the batsman who  bowled STR binny

In [48]:
len(df.loc[(df['bowler']=='TS Mills')& (df['batsman']=='V Kohli')])

0

### find the total number of sixes hit by Yuvraj Singh

In [43]:
len(df.loc[(df['batsman_runs']==6) & (df['batsman']=='Yuvraj Singh')])

75

In [ ]:
find no of wickets