In [1]:
import numpy as np
import pandas as pd
import warnings 
warnings.filterwarnings('ignore')

In [4]:
ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
         'Kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
         'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
         'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
         'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}

df=pd.DataFrame(ipl_data)
df

      Team  Rank  Year  Points
0   Riders     1  2014     876
1   Riders     2  2015     789
2   Devils     2  2014     863
3   Devils     3  2015     673
4    Kings     3  2014     741
5    Kings     4  2015     812
6    Kings     1  2016     756
7    Kings     1  2017     788
8   Riders     2  2016     694
9   Royals     4  2014     701
10  Royals     1  2015     804
11  Riders     2  2017     690

In [6]:
tg=df.groupby(['Team'])

tg

In [7]:
for i in tg:
    print(i)

('Devils',      Team  Rank  Year  Points
2  Devils     2  2014     863
3  Devils     3  2015     673)
('Kings',     Team  Rank  Year  Points
4  Kings     3  2014     741
5  Kings     4  2015     812
6  Kings     1  2016     756
7  Kings     1  2017     788)
('Riders',       Team  Rank  Year  Points
0   Riders     1  2014     876
1   Riders     2  2015     789
8   Riders     2  2016     694
11  Riders     2  2017     690)
('Royals',       Team  Rank  Year  Points
9   Royals     4  2014     701
10  Royals     1  2015     804)

In [9]:
#grouping team wise

df.groupby(['Team'])['Points'].max()

Team
Devils    863
Kings     812
Riders    876
Royals    804
Name: Points, dtype: int64

In [10]:
df.groupby(['Team'])['Points'].sum()

Team
Devils    1536
Kings     3097
Riders    3049
Royals    1505
Name: Points, dtype: int64

In [11]:
df.groupby(['Team'])['Points'].mean()

Team
Devils    768.00
Kings     774.25
Riders    762.25
Royals    752.50
Name: Points, dtype: float64

In [13]:
#grouping year wise

df.groupby(['Team'])['Year'].min()

Team
Devils    2014
Kings     2014
Riders    2014
Royals    2014
Name: Year, dtype: int64

In [14]:
df.groupby(['Team'])['Year'].mean()

Team
Devils    2014.5
Kings     2015.5
Riders    2015.5
Royals    2014.5
Name: Year, dtype: float64

In [15]:
df.groupby(['Points'])['Year'].min()

Points
673    2015
690    2017
694    2016
701    2014
741    2014
756    2016
788    2017
789    2015
804    2015
812    2015
863    2014
876    2014
Name: Year, dtype: int64

In [17]:
df.groupby(['Year'])['Points'].mean()

Year
2014    795.25
2015    769.50
2016    725.00
2017    739.00
Name: Points, dtype: float64

In [19]:
df.groupby(['Year'])['Points'].min()

Year
2014    701
2015    673
2016    694
2017    690
Name: Points, dtype: int64

In [22]:
yg=df.groupby(['Year'])

In [23]:
yg

In [24]:
for i in yg:
    print(yg)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001FC5DE42DA0>
<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001FC5DE42DA0>
<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001FC5DE42DA0>
<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001FC5DE42DA0>

In [25]:
yg.get_group(2015)['Points'].min()

673